 <div
      style="background-color: #f3f2f0; padding: 20px 20px; border-radius: 20px; border: 1px solid black; overflow: hidden"
    >
{{> header}}

<div
  style="font-family: 'Poppins', sans-serif; height: 100vh;"
>
  <div style="width: 100%; margin: 0 auto;">
    <div
      style="padding: 30px; margin: 0 auto;"
    >
      <p style="font-size: 16px; color: #282828;">
        Bạn đang đăng ký tài khoản tại Antrandev shop. 
      </p>
{{!-- 
      <a style="font-size: 16px; color: red" href='{{host}}?token={{token}}'>
        Vui lòng nhấn link bên dưới để xác nhận tài khoản.
      </a> --}}

      {{> footer}}
    </div>
  </div>
</div>
</div> 