<table
                  cellpadding="0"
                  cellspacing="0"
                  class="es-content"
                  align="center"
                >
                  <tbody>
                    <tr>
                      <td class="esd-stripe" align="center">
                        <table
                          class="es-content-body"
                          align="center"
                          cellpadding="0"
                          cellspacing="0"
                          style="background-color: transparent;"
                        >
                          <tbody>
                            <tr>
                              <td class="esd-structure es-p20" align="left">
                                <table
                                  cellpadding="0"
                                  cellspacing="0"
                                  width="100%"
                                >
                                  <tbody>
                                    <tr>
                                      <td
                                        width="560"
                                        class="esd-container-frame"
                                        align="center"
                                        valign="top"
                                      >
                                        <table
                                          cellpadding="0"
                                          cellspacing="0"
                                          width="100%"
                                        >
                                          <tbody>
                                            <tr>
                                              <td
                                                class="esd-block-text es-infoblock"
                                              >
                                                <p
                                                  style="margin: 0 4px; color: white; font-size: 13px;"
                                                >Mọi chi tiết xin liên hệ:</p>
                                                <p
                                                  style="margin: 0 4px; color: white; font-size: 13px;"
                                                >Shop Antran</p>
                                                <p
                                                  style="margin: 0 4px; color: white; font-size: 13px;"
                                                >Địa chỉ: 55 Nguyễn Kiệm, Phường
                                                  3, Quận Gò Vấp, TP.Hồ Chí Minh</p>
                                                <p
                                                  style="margin: 0 4px; color: white; font-size: 13px;"
                                                >Số điện thoại:
                                                  <a
                                                    href="tel:0946003423"
                                                    style="display: inline-block; color: white;"
                                                  >0946003423</a>
                                                </p>
                                                <p
                                                  style="margin: 0 4px; color: white; font-size: 13px;"
                                                >Email:
                                                  <a
                                                    style="display: inline-block; color: white;"
                                                    href="mailto:phamtrangiaan27@gmail.com"
                                                  >phamtrangiaan27@gmail.com</a>
                                                </p>
                                              </td>
                                            </tr>
                                            <tr>
                                              <td align="center">
                                                <strong
                                                  style="display: block; font-size: 14px; color: white; margin-top: 10px;"
                                                >© 2024 AntranShop</strong>
                                              </td>
                                            </tr>
                                          </tbody>
                                        </table>
                                      </td>
                                    </tr>
                                  </tbody>
                                </table>
                              </td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>