<header
  style="
        padding: 20px 0;
        width: fit-content;
        margin: 0 auto;
      "
>
  <a target="_blank" href="https://antrandev.id.vn">
    <img
      style="width: 140px;"
      src="https://res.cloudinary.com/neyul/image/upload/f_auto,q_auto/v1/web/master/general/uyosn9e11tw0pk3lbcij"
    />
  </a>
</header>