<table
  cellpadding="0"
  cellspacing="0"
  align="center"
>
  <tbody>
    <tr>
      <td class="esd-stripe" align="center">
        <table
          class="es-header-body"
          align="center"
          cellpadding="0"
          cellspacing="0"
          width="600"
          style="background-color: transparent;"
        >
          <tbody>
            <tr>
              <td
                align="left"
                style="border-radius: 10px 10px 0px 0px; background-color: #4c8aa7; padding: 20px"
                bgcolor="#4c8aa7"
              >
                <table cellpadding="0" cellspacing="0" width="100%">
                  <tbody>
                    <tr>
                      <td
                        width="560"
                        class="es-m-p0r esd-container-frame"
                        valign="top"
                        align="center"
                      >
                        <table
                          cellpadding="0"
                          cellspacing="0"
                          width="100%"
                          style="border-radius: 1px; border-collapse: separate;"
                        >
                          <tbody>
                            <tr>
                              <td
                                align="center"
                                class="esd-block-image"
                                style="font-size: 0px;"
                              ><a
                                  target="_blank"
                                  href="https://viewstripo.email"
                                ><img
                                    src="https://res.cloudinary.com/neyul/image/upload/f_auto,q_auto/v1/web/master/general/uyosn9e11tw0pk3lbcij"
                                    style="display: block;"
                                    width="120"
                                  /></a></td>
                            </tr>
                          </tbody>
                        </table>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </td>
            </tr>
          </tbody>
        </table>
      </td>
    </tr>
  </tbody>
</table>