<div>
  <p style="font-size: 14px; color: #282828; margin: 4px 0px; font-style: italic;">
    Cảm ơn bạn đã tin tưởng và ủng hộ shop của chúng tôi
  </p>
  <p style="font-size: 14px; color: #282828; margin: 4px 0px; font-style: italic;">
    Trân trọng cảm ơn vì sự đồng hành của bạn 🥰
  </p>
</div>